@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --primaryColor: #66a1ff;
    --secondaryColor: #1A1A1A;
    --background-color: #F4F4F4;
    --mainFontFamily:'Roboto Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;   
}


#indexMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

#aplicationContainer{
    height: 80vh;
    width: 80%;
    display: grid;
    grid-template-columns: .15fr 1fr;
    border-radius: 20px;
    box-shadow:  15px 15px 25px #adadad,
                -15px -15px 25px #ffffff;  
    background-color: var(--background-color);
}

#buttonsWrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px;
}

#addBookButton{
    outline: none;
    border: none;
    width: 180px;
    height: 60px;
    background: linear-gradient(145deg, #6dacff, #5c91e6);
    border-radius: 50px;
    color: white;
    font-family: var(--mainFontFamily);
    font-size: 1.5rem;
}

#bookListWrap{
    padding: 20px;
    overflow: hidden;
}

#bookList{
    list-style: none;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 80px;
    grid-row-gap: 10px;
}

.listed{
    background-color: #d6d6d6;
    border-radius: 20px;
    transition: all 300ms;
    color: var(--secondaryColor);
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listed:hover{
    background-color: var(--primaryColor);
    color: #ffffff;
}

.bookInfo{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.hourBook{
    font-family: var(--mainFontFamily);
    font-size: 2rem;
}

.bookName{
    font-family: var(--mainFontFamily);
    font-size: 1.5rem;
}

.bookButonsWrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.listed:hover .editBookButton,
.listed:hover .deleteBookButton{
    display: block;
}

.editBookButton{
    margin-right: 20px;
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #8eda6c;
    color: white;
    font-family: var(--mainFontFamily);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #8eda6c;
    transition: all 300ms;
    display: none;
}

.editBookButton:hover{
    background-color: var(--secondaryColor);
    color: #8eda6c;
}

.deleteBookButton{
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #e22746;
    color: white;
    font-family: var(--mainFontFamily);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #e22746;
    transition: all 300ms;
    display: none;
}

.deleteBookButton:hover{
    background-color: var(--secondaryColor);
    color: #e22746;
}



